<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Pick an Album</h1>
    <ul>
        <li th:each="album : ${albumArray}">
            <span th:text="${album.title}"></span>
            <span th:text="${album.artist}"></span>
            <span th:text="${album.songCount}"></span>
            <span th:text="${album.seconds}"></span>
            <span th:text="${album.imageUrl}"></span>
        </li>
    </ul>
</body>
</html>