<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
    <!--           Adding Songs-->
    <form action="/songs" method="POST">
        <h2>Add Songs</h2>
        <input type="hidden" th:value="${album.id}" name="albumId">
        Song Title: <input type="text" name="songTitle">
        Length: <input type="text" name="length">
        Track Number: <input type="text" name="trackNumber">
        <input type="submit" value="Add Song">
    </form>
    <h1>Song list from album: <span th:text="${album.title}"></span></h1>
    <ul>
        <li th:each="song, iterator : ${album.songs}">

            <h2><span th:text="${iterator.index + 1}"></span><span th:text="${song.toString()}"></span></h2>
            <!--    form has only two methods post and get-->
            <form action="/songs/delete" method="POST">
                <input type="hidden" name="id" th:value="${song.id}">
                <input type="hidden" name="albumId" th:value="${album.id}">
                <span><input type="submit" value="Delete"></span>
            </form>
        </li>


    </ul>
</body>
</html>